body {
  background: url(/zad5/img/back.jpg);
}

h2 {
  color: crimson;
  font-style: italic;
  font-size: 1rem;
}

.verx {
  text-decoration: none;
  font-size: 2rem;
  color: red;
  border: 5px solid aqua;
}

#result,
#result2 {
  font-size: 1rem;
  color: crimson;
}

.decor {
  display: flex;
  flex-direction: column;
}

.line {
  width: 100px;
  height: 3px;
  background-color: aqua;
  margin: 15px auto 30px;
}

.itd_circle {
  background-color: darksalmon;
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border: 3px solid aqua;
  border-radius: 50%;
  display: flex;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

input {
  background-color: lightgray;
  color: red;
  border: 3px dashed crimson;
}

button {
  border-style: solid;
  color: crimson;
  border-width: 1px;
  font-size: 1rem;
  display: block;
  border: 3px solid crimson;
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
  background-color: rgb(101, 249, 205);
  -webkit-transition: width 2s, height 2s, background-color 2s,
    -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

button:hover {
  background-color: rgb(92, 255, 86);
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

a:hover {
  color: violet;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  background: url(/zad5/img/chumba.jpg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10vh;
  height: 70vh;
}
.flex-item {
  background-color: bisque;
  border: 5px solid aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: flex-end;
  padding-right: 20px;
  height: 70vh;
  width: 50vh;
}
